{% extends "account/email/base_account.html" %}
{% load i18n %}
{% block email_title %}{% trans "Password Changed Successfully" %}{% endblock %}
{% block email_content %}
                <div class="success-box">
                    <div class="success-box-title">{% trans "Password Successfully Changed" %}</div>
                    <div class="success-box-text">
                        {% blocktrans with site_name=site_name %}Your {{ site_name }} password has been successfully changed. You can now log in using your new password.{% endblocktrans %}
                    </div>
                </div>

                <div class="message">
                    {% blocktrans with site_name=site_name user_email=user.email %}This email confirms that the password for your <strong>{{ site_name }}</strong> account (<strong>{{ user_email }}</strong>) was recently changed.{% endblocktrans %}
                </div>

                <div class="security-details">
                    <h4>{% trans "Security Information" %}</h4>
                    <p><strong>{% trans "Change IP:" %}</strong> {{ client_ip }}</p>
                    <p><strong>{% trans "Account:" %}</strong> {{ user.username }}</p>
                    <p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
                </div>

                <div class="warning-box">
                    <div class="warning-box-title">{% trans "Didn't make this change?" %}</div>
                    <div class="warning-box-text">
                        {% trans "If you did NOT change your password, your account may have been compromised. Please take immediate action:" %}
                        <br><br>
                        {% trans '1. Reset your password immediately using the "Forgot Password" link' %}<br>
                        {% trans "2. Review your account activity for any unauthorized changes" %}<br>
                        {% trans "3. Contact our support team if you need assistance" %}
                    </div>
                </div>

{% endblock %}
